@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Br Store</h1>
    <p class="lead">This is a test project.</p>
    <p><a href="https://github.com/fzani/brProject" class="btn btn-primary btn-large">GitHub Source &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>
           List Products and Categories
        </p>
        <p>
            Register Products
        </p>
        <p>
            Register Categories
        </p>
        <p>
            Unity Tests
        </p>
        <p><a class="btn btn-default" href="https://trello.com/b/Y5BvFYkd/processo-seletivo-felipe-zani">Trello &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Author Blog</h2>
        <p>SIMPLE AND EASY CODE, SHARE THIS IDEA…</p>
        <p><a class="btn btn-default" href="http://thatsimpleidea.wordpress.com/">WordPress &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Felipe Zani Profile</h2>
        <p>Resume Profile</p>
        <p><a class="btn btn-default" href="http://br.linkedin.com/in/felipezani/">Linkedin &raquo;</a></p>
    </div>
</div>