@using brProject.Models;
@{
    ViewBag.Title = "BR Store";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-4">
        <ul>
            @foreach (CategoryDTO item in ViewBag.categories)
            {
                <li><a>@item.Name (@item.Products.Count())</a></li>
            }
        </ul>
    </div>
    <div class="col-md-8">

    </div>
</div>